.title {
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
}

input {
    width: 100%;
}

.items-container {
    text-align: left;
}

.sp-row {
    margin: 10px 5px;
}

.sp-button{
    min-width: 80px;
}

.initial-text{
    text-align: center;
    margin-top: 30px;
}